


.tab-segment-value-input {
    font-family: monospace;
}

.tab-segment-creator input[type=number] {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
    cursor: text;
    border: 0;
    background-color: #f8f8f8;
}

#tab-output {
    font-family: monospace;
}

.tab-textarea {
    font-family: monospace;
    height: 25rem;
}

/* HIDE ARROWS IN INPUT BOXES */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
