@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-5">
    <br />
    <h1 class="fw-bold">Tab Creator</h1>
    <h4>By Jye Tremlett</h4>
   
    <div class="row pt-5 justify-content-between">
        <div class="col-5 align-content-end">
            <img src="~/lib/img/guitar_background.jpg" alt="Drawing of a guitar" class="img-fluid" />
        </div>
        <div class="col-7">
            <div class="form-group d-grid gap-2 px-5 pt-4">
                <a class="btn btn-primary btn-lg mx-5" asp-controller="Tabs" asp-action="Create">Create a Tab</a>
            </div>

            <div class="py-5">
                <h5>Tab Creator is a streamlined tab writing tool, built to make editing and creating tablature as easy and simple as possible.</h5>
            </div>

            <section class="pt-3" id="features">
                <div class="row">
                    <div class="col">
                        <p class="fw-bold feature"><em>Write</em> tabs with the assistance of a purpose-built tab generator</p>
                    </div>
                    <div class="col">
                        <p class="fw-bold feature"><em>Search</em> for tabs written by other users</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="fw-bold feature"><em>Create</em> an account to save your tabs</p>
                    </div>
                    <div class="col">
                        <p class="fw-bold feature"><em>Import</em> tabs from other websites</p>
                    </div>
                </div>
            </section>
        </div>
        
        
    </div>
    
</div>
